@model net.Models.Propietario
@{
    ViewData["Title"] = "Editar Propietario";
	int id = Model==null ? 0 : Model.PropietarioId;
}

<div class="text-center">
    <h1 class="display-4">@((id== 0) ? "Crear nuevo propietario" : "Editar propietario"):</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" readonly name="PropietarioId" value="@id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control"/>
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Calle" class="control-label"></label>
                <input asp-for="Direccion.Calle" class="form-control" />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Direccion.Altura" class="control-label"></label>
                <input asp-for="Direccion.Altura" class="form-control" />
                <span asp-validation-for="Direccion.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Piso" class="control-label"></label>
                <input asp-for="Direccion.Piso" class="form-control" />
                <span asp-validation-for="Direccion.Piso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Departamento" class="control-label"></label>
                <input asp-for="Direccion.Departamento" class="form-control" />
                <span asp-validation-for="Direccion.Departamento" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Direccion.Observaciones" class="control-label"></label>
                <input asp-for="Direccion.Observaciones" class="form-control" />
                <span asp-validation-for="Direccion.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Volver al listado</a>
</div>