@model IEnumerable<net.Models.Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<div class="text-center">
    <h3 class="display-4">Propietarios registrados:</h3>
	
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Nombre
			</th>
			<th>
				Apellido
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id_propietario)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.apellido)
				</td>
				<td>
                    <a href="/Propietario/Edicion/@item.id_propietario"><i class="fa-solid fa-pen-to-square"></i></a>|
					<a href="/Propietario/Detalles"><i class="fa-solid fa-eye"></i></a>|
					<a href="/Propietario/Eliminar/@item.id_propietario"><i class="fa-solid fa-trash"></i></a>
				</td>
			</tr>
		}
		
	</tbody>
	<tfoot>
		<tr>
			<td>
				<a href="/Propietario/Edicion/"> <i class="fa-solid fa-plus"></i></a>
			</td>
		</tr>
	</tfoot>
</table>


@section Scripts{
	<script>
		
	</script>
}