@model net.Models.Pago
@{
    ViewData["Title"] = "Edición de Pago";
    int id = Model == null ? 0 : Model.PagoId;
}

<div class="text-center">
    <h2>Pago:</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="PagoId" value="@id" readonly/>
            <input asp-for="CreadorId" value="@User.Claims.First().Value" type="hidden" readonly />
            <div class="form-group">
                <label asp-for="Contrato" class="control-label">Contrato</label>
                <input asp-for="Contrato" class="form-control"  readonly />
                <span asp-validation-for="Contrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label">Número</label>
                <input asp-for="Numero" class="form-control" type="text" value="@($"{Model.Numero} de {Model.Contrato?.Meses ?? 0}")" readonly/>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label">Importe</label>
                <input asp-for="Importe" class="form-control" readonly/>
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" type="date" readonly/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Concepto" class="control-label">Concepto</label>
                <input asp-for="Concepto" class="form-control" readonly/>
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <input asp-for="Estado" type="text" value=" @((Model?.Estado == true) ? "Activo" : "Inactivo")" class="form-control" readonly/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Administrador"))
            {
               <div class="form-group">
                    <label asp-for="Creador" class="control-label">Creador</label>
                    <input asp-for="Creador" class="form-control" readonly/>
                    <span asp-validation-for="Creador" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Anulador" class="control-label">Anulador</label>
                    <input asp-for="Anulador" class="form-control" readonly/>
                    <span asp-validation-for="Anulador" class="text-danger"></span>
                </div>
            }
    </div>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>
