@model net.Models.Inmueble
@{
    ViewData["Title"] = "Detalle";
	int id = Model==null ? 0 : Model.InmuebleId;
    
}


<div class="text-center">
    <h3 class="display-4">Inmueble:</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="InmuebleId" value="@id" />
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Direccion</label>
                <input asp-for="Direccion" class="form-control" value="@Model?.Direccion?.ToString()" readonly/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label">Latitud</label>
                <input asp-for="Latitud" class="form-control" readonly/>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label">Longitud</label>
                <input asp-for="Longitud" class="form-control" readonly/>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario" class="control-label">Propietario</label>
                <input asp-for="Propietario" class="form-control" value="@Model?.Propietario?.ToString()" readonly/>
                <span asp-validation-for="Propietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsoInmueble" class="control-label">Uso</label>
                <input asp-for="UsoInmueble" class="form-control" value="@Model?.UsoInmueble?.UsoValor" readonly/>
                <span asp-validation-for="UsoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoInmueble" class="control-label">Tipo</label>
                <input asp-for="TipoInmueble" class="form-control" value="@Model?.TipoInmueble?.Valor" readonly/>
                <span asp-validation-for="TipoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label">Ambientes</label>
                <input asp-for="Ambientes" class="form-control" readonly/>
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio</label>
                <input asp-for="Precio" class="form-control" readonly/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <input type="text" class="form-control" 
                    value="@(Model?.Estado == true ? "Activo" : "Inactivo")" readonly />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Volver al listado</a>
</div>
