@model net.Models.Inmueble
@{
    ViewData["Title"] = "Detalle";
	int id = Model==null ? 0 : Model.id_inmueble;
    
}


<div class="text-center">
    <h3 class="display-4">Inmueble:</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id_inmueble" value="@id" />
            <div class="form-group">
                <label asp-for="direccion" class="control-label">Direccion</label>
                <input asp-for="direccion" class="form-control" value="@Model?.direccion?.ToString()" readonly/>
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitud" class="control-label">Latitud</label>
                <input asp-for="latitud" class="form-control" readonly/>
                <span asp-validation-for="latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitud" class="control-label">Longitud</label>
                <input asp-for="longitud" class="form-control" readonly/>
                <span asp-validation-for="longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propietario" class="control-label">Propietario</label>
                <input asp-for="propietario" class="form-control" value="@Model?.propietario?.ToString()" readonly/>
                <span asp-validation-for="propietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usoInmueble" class="control-label">Uso</label>
                <input asp-for="usoInmueble" class="form-control" value="@Model?.usoInmueble?.valor" readonly/>
                <span asp-validation-for="usoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoInmueble" class="control-label">Tipo</label>
                <input asp-for="tipoInmueble" class="form-control" value="@Model?.tipoInmueble?.valor" readonly/>
                <span asp-validation-for="tipoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambientes" class="control-label">Ambientes</label>
                <input asp-for="ambientes" class="form-control" readonly/>
                <span asp-validation-for="ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label">Precio</label>
                <input asp-for="precio" class="form-control" readonly/>
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label">Estado</label>
                <input type="text" class="form-control" 
                    value="@(Model?.estado == true ? "Activo" : "Inactivo")" readonly />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Volver al listado</a>
</div>
