@model IEnumerable<net.Models.Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h3 class="display-4">Inquilinos registrados:</h3>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Nombre
			</th>
			<th>
				Apellido
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id_inquilino)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.apellido)
				</td>
				<td>
                    <a href="/Inquilino/Edicion/@item.id_inquilino"><i class="fa-solid fa-pen-to-square"></i></a>|
					<a href="/Inquilino/Detalle/@item.id_inquilino"><i class="fa-solid fa-eye"></i></a>|
					<a href="/Inquilino/Eliminar/@item.id_inquilino"><i class="fa-solid fa-trash"></i></a>
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td><a href="/Inquilino/Edicion/"><i class="fa-solid fa-plus"></i></a></td></tr>
		
	</tfoot>
</table>


@section Scripts{
	<script>
		
	</script>
}