@model net.Models.Contrato
@{
    ViewData["Title"] = "Editar Contrato";
	int id = Model==null ? 0 : Model.id_contrato;
}

<div class="text-center">
    <h1 class="display-4">Editar contrato:</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="readonly" name="id_propietario" value="@id" />
            <div class="form-group">
                <label asp-for="id_inquilino" class="control-label">Inquilino</label>
                <input asp-for="id_inquilino" class="form-control" />
                <span asp-validation-for="id_inquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_inmueble" class="control-label">Inmueble</label>
                <input asp-for="id_inmueble" class="form-control" />
                <span asp-validation-for="id_inmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desde" class="control-label">Desde</label>
                <input asp-for="desde" class="form-control" />
                <span asp-validation-for="desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hasta" class="control-label">Hasta</label>
                <input asp-for="hasta" class="form-control" />
                <span asp-validation-for="hasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label">Precio</label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label">Estado</label>
                <select asp-for="estado" class="form-control">
                    <option value=1>Activo</option>
                    <option value=0>Inactivo</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>