@model net.Models.Contrato
<div class="modal fade" id="renovarModal" tabindex="-1" aria-labelledby="renovarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renovarContratoModalLabel">Renovar Contrato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Guardar" method="post">
                <div class="modal-body">
                    <input type="hidden" asp-for="ContratoId" value="0" />
                    <div class="form-group">
                        <label asp-for="Inquilino" class="control-label">Inquilino</label>
                        <input asp-for="Inquilino" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Inmueble" class="control-label">Inmueble</label>
                        <input asp-for="Inmueble" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Desde" class="control-label">Desde</label>
                        <input asp-for="Desde" class="form-control" type="date" id="inicio"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hasta" class="control-label">Hasta</label>
                        <input asp-for="Hasta" class="form-control" type="date" id="fin"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrecioContrato" class="control-label">Nuevo Precio</label>
                        <input asp-for="PrecioContrato" class="form-control" value=""/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Renovar</button>
                </div>
            </form>
        </div>
    </div>
</div>