@model net.Models.Usuario
@{
    ViewData["Title"] = "Mi perfil";
	int id = Model==null ? 0 : Model.UsuarioId;
}


<div class="text-center">
    <h2>Usuario:</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
             <label asp-for="Avatar" class="control-label"></label>
                @if (!String.IsNullOrEmpty(Model.Avatar))
                {
                    <img width="64" src="@($"{Model.Avatar}?{new Random().Next()}")" alt="Avatar" />
                }
                else
                {
                    <span>Sin foto</span>
                }
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" readonly name="UsuarioId" value="@id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" readonly/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" readonly/>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label">Rol</label>
                <input type="text" class="form-control" 
                    value="@(Model?.Rol == 1 ? "Administrador" : "Empleado")" readonly />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>  
    </div>
    <div class="mt-3">
        <a href="/Usuario/Edicion/@Model.UsuarioId" class="btn btn-primary">Editar datos</a>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
